{{#> page}}
	{{#*inline "head"}}
		<meta name="title" content="{{metadata.title}}">
		<title>{{metadata.title}} • leafcodes</title>
	{{/inline}}
	{{#*inline "main"}}
        {{{content}}}
        <nav class="blog-index">
            {{#each blog_posts}}
                <div class="blog-entry">
                    <a href="/blog/{{this.filename}}">{{this.title}}</a>
                    <span class="blog-entry-date">{{this.date_string}}</span>
                </div>
            {{/each}}
        </nav>
	{{/inline}}
{{/page}}
