{{#> page}}
	{{#*inline "head"}}
		<meta name="title" content="{{metadata.title}}">
		<title>{{metadata.title}} • leafcodes</title>
	{{/inline}}
	{{#*inline "main"}}
        <article>
            <header>
                <h1>{{metadata.title}}</h1>
                <time datetime="{{metadata.date}}">{{metadata.date}}</time>
            </header>
            {{{content}}}
        </article>
	{{/inline}}
{{/page}}
